<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
<!doctype html>
<html lang="en">
{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>about </title>
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="{% static 'index/css/style-starter.css' %}">
</head>

<body>
<script>

{% for m in messages %}
      alert('{{ m }}');
{% endfor %}

</script>
    <!--/Header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
                <h1><a class="navbar-brand pe-xl-5 pe-lg-4" href="/">
                        <span class="w3yellow">Sodium </span> Alginate
                    </a></h1>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-lg-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/signup/">Client</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/admin_login/">Admin</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/process_signup/">Process Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/mfta_signup/">Manufacturing Team</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about/">About</a>
                        </li>


                    </ul>
                    <!--//search-right-->
                </div>
                <!-- toggle switch for light and dark theme -->

                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//Header-->
    <!--/inner-page-->
    <div class="inner-banner py-5">
        <section class="w3l-breadcrumb text-left py-sm-5 ">
            <div class="container">
                <div class="w3breadcrumb-gids">
                    <div class="w3breadcrumb-left text-left">
                        <h2 class="inner-w3-title">
                            About Us </h2>
                        <p class="inner-page-para mt-2">
                            The Unique Solutions
                            for Your Business</p>
                    </div>
                    <div class="w3breadcrumb-right">
                        <ul class="breadcrumbs-custom-path">
                            <li><a href="/">Home</a></li>
                            <li class="active"><span class="fas fa-angle-double-right mx-2"></span> About Us</li>
                        </ul>
                    </div>
                </div>

            </div>
        </section>
    </div>
    <!--//inner-page-->
    <!--/bottom-3-grids-->
    <div class="w3l-3-grids py-5" id="grids-3">
        <div class="container py-md-5 py-2">
            <!--/row-1-->
            <div class="row mb-5 pb-lg-4">
                <div class="col-lg-6 pe-lg-4">
                    <div class="title-content text-left">
                        <h6 class="title-subw3hny mb-1">Our Info</h6>
                        <h3 class="title-w3l">The best solutions for your business </h3>
                    </div>
                </div>

                <div class="col-lg-6 mt-lg-0 mt-md-5 mt-4 ps-lg-5">
                    <p class="">Sodium Alginate is the sodium salt form of alginic acid and gum mainly extracted from the cell walls of brown algae, with chelating activity. Alginates are known for their liquid–gel behavior in aqueous solutions. It is also widely used in molecular gastronomy. It is a white powder, odourless and tasteless, slowly soluble in water forming a viscous solution..</p>
                </div>
            </div>
            <!--//row-1-->
            <div class="row pt-md-0 pt-5">
                <div class="col-md-6">
                    <div class="abw3-info">
                        <img src="assets/images/banner5.jpg" alt="" class="img-fluid radius-image">
                        <h3 class="title-w3l mt-4 mb-2">Our Approach</h3>
                        <p class="">S.A Enterprises is one of the top-notch manufacturer, importer, supplier and trader of the market affianced in the area of offering a world class collection of Industrial Chemicals. </p>
                    </div>
                </div>
                <div class="col-md-6 mt-md-0 mt-4">
                    <div class="abw3-info">
                        <img src="assets/images/banner1.jpg" alt="" class="img-fluid radius-image">
                        <h3 class="title-w3l mt-4 mb-2">Our Mission</h3>
                        <p class="">We are Procured from certified and trusted vendors of the market who possess rich expertise in this field we make sure that the entire collection is free from impurities and his highly effective in nature.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!--//bottom-3-grids-->
    <!--/Counts-Section-->
    <section id="counts" class="w3lcounts">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 w3stats_info counter_grid">
                    <div class="count-box">

                        <p class="counter">960</p>
                        <p>Happy Clients</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-md-0 w3stats_info counter_grid">
                    <div class="count-box">

                        <p class="counter">1560</p>
                        <p>Projects</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 w3stats_info counter_grid">
                    <div class="count-box">

                        <p class="counter">1660</p>
                        <p>Hours Of Support</p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 w3stats_info counter_grid">
                    <div class="count-box">

                        <p class="counter">860</p>
                        <p>Hard Workers</p>
                    </div>
                </div>

            </div>

        </div>
    </section>

        <script>
            // When the user scrolls down 20px from the top of the document, show the button
            window.onscroll = function() {
                scrollFunction()
            };

            function scrollFunction() {
                if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                    document.getElementById("movetop").style.display = "block";
                } else {
                    document.getElementById("movetop").style.display = "none";
                }
            }

            // When the user clicks on the button, scroll to the top of the document
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }

        </script>
        <!-- //move top -->
    </footer>
    <!-- Template JavaScript -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/theme-change.js"></script>

    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function() {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function() {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function() {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });

    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function() {
            $('.navbar-toggler').click(function() {
                $('body').toggleClass('noscroll');
            })
        });

    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!-- //bootstrap -->
    <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>
